<header class="container">
    <nav>
        <ul>
            <li><strong>Chore Tracker</strong></li>
            <li><a href="{% url 'chore-list' %}">Chores</a></li>
            <li><a href="/chores/new/">Add chore</a></li>
            <li><a href="/history/">History</a></li>
        </ul>
        <ul>
            {% if current_member %}
            <li><a href="{% url 'history' %}">History</a></li>
            <li>{{ current_member.name }}</li>
            <li><a href="{% url 'member-picker' %}">switch</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
